<div class="row">

    <div class="cape">
        <h2>Cape Town reg numbers</h2>

    </div>

    <div class="paarl">
        <h2>Paarl reg numbers</h2>
    </div>

    <div class="belville">
        <h2>Belville reg numbers</h2>
    </div>

</div>